.page-home {
  h5 {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .store-trend-categories {
    margin-top: 10px;

    p {
      font-weight: 500;
    }
  }

  .store-new-product {
    margin-top: 10px;
  }
  .store-name {
    h2 {
      font-weight: bold;
      font-size: 25px;
      color: #0c0d36;
      border-bottom: 3px solid #ff7158;;
      border-radius: 2px 2px 2px 2px;
    }
  }
}
